/* general settings */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}

header {
  display: none;
}

h3,
h2 {
  padding-bottom: 2.5rem;
}

h1,
h2,
h3 {
  color: rgb(31, 28, 59);
}

.highlighted-header {
  font-size: 1.2rem;
}

p {
  color: rgb(183, 188, 200);
  padding: 3rem 0 3rem 0;
}

a {
  color: rgb(183, 188, 200);
}

button {
  padding: 0.6rem 1rem;
  color: rgb(250, 250, 251);
  background-color: rgb(0, 120, 255);
  border: none;
  border-radius: 5px;
  font-weight: 500;
  /* width: auto; */
}

/* navbar design */
nav ul {
  padding-left: 15rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  /* list-style: none;
  text-align: center; */
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 1.6rem 3rem;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav ul li a:hover {
  color: rgb(0, 120, 255);
}

nav ul li a {
  position: relative;
  display: block;
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: rgb(0, 120, 255);
  height: 3px;
}

nav ul li a:hover:after {
  width: 50%;
}

.navbar-active {
  color: rgb(0, 120, 255);
  /* font-weight: 800; */
}

.navbar-active:after {
  width: 50%;
}

/* layout settings */
.box {
  background-color: rgb(255, 255, 255);
  color: rgb(168, 175, 180);
  border-radius: 1px;
  border: 1px solid rgb(242, 242, 242);
}

.sidebar {
  grid-area: sidebar;
  color: rgb(29, 116, 222);
  padding: 1rem;
}

.user-img {
  grid-area: user-img;
  border: none;
  padding: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-img > img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.content {
  grid-area: content;
  background-color: rgb(250, 250, 252);
  padding: 2.5rem 2.5rem 0 2.5rem;
}

.navbar {
  grid-area: navbar;
  padding-right: 2.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.chart {
  padding: 3rem;
  height: 4rem;
}

.chart-one {
  grid-area: chart-one;
  /* border: none;
  border-radius: 10px; */
}

.chart-two {
  grid-area: chart-two;
}

.chart-table {
  grid-area: chart-table;
  height: 4rem;
  padding: 3rem;
}

.terms {
  grid-area: terms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-wrapper {
  display: grid;
  grid-gap: 0em;
}

.page-layout {
  grid-template-columns: 6rem auto;
  grid-template-areas:
    "user-img  navbar"
    "sidebar content";
}

.content-layout {
  /* border-radius: 10px; */
  grid-template-columns: 40% 40% 20%;
  grid-template-areas:
    "chart-one   chart-two  terms"
    "chart-table chart-table chart-table";
}

@media only screen and (max-width: 800px) {
  /* responsive layout */
  .page-layout {
    grid-template-columns: 15% auto;
    grid-template-areas:
      "user-img navbar"
      "sidebar sidebar"
      "content content";
  }

  .content-layout {
    grid-template-columns: auto;
    grid-template-areas:
      "chart-one"
      "chart-two"
      "terms"
      "chart-table";
  }

  /* responsive navbar design */
  .navbar {
    padding: 0rem 0rem 1.2rem 0;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  nav ul {
    padding: 1.8rem 0rem;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .navbar-active {
    font-weight: 800;
  }

  nav ul li a {
    padding: 0;
  }

  nav > button {
    width: 90%;
  }

  nav ul li a:after {
    display: none;
  }

  nav ul li a:hover {
    color: inherit;
    font-weight: inherit;
  }
}
