/* car layout settings */
.chartsarea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
  width: 100%;
}

.barchart {
  width: 60%;
}

.circlechart {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.chart-two-color {
  stroke: rgb(240, 29, 113);
}

svg circle.chart-two-color:nth-child(2) {
  stroke: rgb(240, 29, 113);
}

.barcharchart-two-color {
  background-color: rgb(240, 29, 113);
}
